/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}

body{
  background: #333;
  font-family: 'Courier New', Courier, monospace;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.container > *{
  margin: 2em;
}

h1,h2,h3{
  color: rgb(255, 118, 118);
  margin: 1em 0;
  text-decoration: underline;
}

.examples{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.examples article{
  border: solid 1px rgb(255, 118, 118);
  padding: 3em;
}

.active{
  background: rgb(255, 199, 69);
  color: black;
}